body {
	background-image: url("img/code.jpg") ;
	font-family:Helvetica, Arial;
}

.ubercontainer {
	margin: 0px auto;   /* I only wanted part of the layout as a		*/
	width:90vh;			/* flexbox so i made a container for the		*/
	text-align: center; /* the flexbox container, allowing me to use	*/
	margin-top:50px; 	/* regular block elements above and below 		*/
}

.container {
	display: flex;
	flex-wrap:wrap;
}

.container2 {
	flex-direction:column;
}

.box a:hover {
	color:white;
	transition: all .3s ease;

}

.box{	
	background-color:#02BAB8;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border: 4px solid black;
	font-size: 30px;
	padding: 10px;
	background: linear-gradient(white, #02BAB8);
	flex:1;

}


.box a {
	text-decoration: none; 	/*ugly underlined links begone 	*/
	display: block;			/*stretches the clickable area 	*/
	color: black;
}

#head {
	border-bottom-left-radius: 0; /*Overrides default border radii set in the .box class */
	border-top-left-radius: 25px; 
	border-bottom-right-radius: 0;
	border-top-right-radius: 25px;
	border-bottom: 0px;
	font-variant: small-caps;
	background: linear-gradient(#02BAB8, white);
	padding-top: 20px;

}
#brk {
	border-radius:0;
	font-size: 12px;
	color: #02BAB8;
	background: linear-gradient(white, white);
	border-bottom: 0px;
}

.footer {
	font-size:16px;
	margin-bottom:20px;
}

table {
	width: 100%;
	font-size:16px;
	border-top: 1px dashed black;
	margin-top: 3px;
	table-layout: fixed;
}

td {
	border-bottom: 1px solid black; /**/
	padding-bottom: 3px;
	text-align:left;
}

#t_wide {
	table-layout: auto;  /* Attempt to fix column width issues for long data strings */
}


@media screen and (max-width: 600px) {
	.container {
		flex-direction:column;
	}

	.box {
		width:80vh;
		border-radius:0;
	}

	.footer {
		border-bottom-left-radius: 15px;  	/*required to restore curved borders to the footer on 		*/
		border-bottom-right-radius: 15px; 	/*small screen sizes which the previous selector removed	*/
	
	}
}


